<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891508661382-l3nchmtihh0a5o0ti8pbaf1pu59ubcnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891508661382-l3nchmtihh0a5o0ti8pbaf1pu59ubcnr</string>
	<key>API_KEY</key>
	<string>AIzaSyAELUNVyBTpvHt8CJWPTgDkQsoEgFiirAU</string>
	<key>GCM_SENDER_ID</key>
	<string>891508661382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>flutter-agent-doctor</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-agent-doctor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891508661382:ios:12edf83a5b9c6f5f714507</string>
</dict>
</plist>